In [2]:
import pandas as pd

In [3]:
data = pd.read_csv ("movie_ratings.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

,Awards,Country,DVD,Director,Language,Plot,Poster,Production,Rated,Released,Runtime,Title,Type,Website,Year,imdbID,imdbRating,imdbVotes
0,NaN,USA,NaN,Rose Cummings,English,Rachel constantly hears her baby cry from the ...,NaN,NaN,NaN,26-Apr-12,20 min,Baby's Breath,movie,NaN,2012,tt2268369,NaN,NaN
1,NaN,USA,NaN,James Byrne,NaN,The struggle against unfortunate circumstances...,NaN,NaN,NaN,NaN,9 min,Winter Trees,movie,NaN,2008,tt1560760,NaN,NaN
2,NaN,USA,NaN,Dimitri Buchowetzki,NaN,NaN,NaN,NaN,NaN,27-Mar-26,50 min,The Crown of Lies,movie,NaN,1926,tt0016750,NaN,NaN
3,NaN,USA,NaN,Julia Hechler,English,"A Gift introduces Samuel Green, Washington Sta...",NaN,NaN,NaN,27-May-13,2 min,A Gift,movie,NaN,2013,tt3405286,NaN,NaN
4,NaN,Sri Lanka,NaN,Udara Siriruwan,Sinhalese,NaN,NaN,NaN,NaN,20-Mar-14,23 min,Journey,movie,NaN,2014,tt3816698,NaN,NaN

In [5]:
data_cleanded = data.drop(['DVD', 'Poster', 'Production', 'Runtime', 'Website', 'imdbID', "Plot", "Type"], axis=1)

In [6]:
data_cleanded = data_cleanded[data_cleanded["imdbRating"].notnull()]

In [7]:
data_cleanded

,Awards,Country,Director,Language,Rated,Released,Title,Year,imdbRating,imdbVotes
9,NaN,USA,NaN,English,NaN,NaN,Beyond Batman: Visualizing Gotham - The Produc...,2005,6.9,35
15,1 win.,USA,Matt Hish,English,NaN,1-Feb-14,Haunting of the Innocent,2014,2.4,345
16,NaN,NaN,Meiert Avis,NaN,AL,23-Nov-04,New Found Glory: This Disaster - Live in London,2004,6.3,11
18,NaN,China,Fendou Liu,Mandarin,NaN,24-Jun-11,The Pretending Lovers,2011,5.5,43
21,1 nomination.,USA,"Terry L. Noss, Richard Rich",English,G,1-Mar-01,The Trumpet of the Swan,2001,5.0,813
...,...,...,...,...,...,...,...,...,...,...
178682,Nominated for 1 Oscar. Another 7 wins & 13 nom...,"Germany, USA",Rob Minkoff,"English, Dutch",PG,17-Dec-99,Stuart Little,1999,5.9,"106,665"
178683,3 wins & 9 nominations.,USA,Oliver Stone,English,R,22-Dec-99,Any Given Sunday,1999,6.8,"103,302"
178684,Won 1 Golden Globe. Another 4 wins & 23 nomina...,"UK, Germany, Japan, USA",Milos Forman,English,R,22-Dec-99,Man on the Moon,1999,7.4,"110,566"
178685,7 wins & 14 nominations.,USA,Dean Parisot,English,PG,25-Dec-99,Galaxy Quest,1999,7.3,"132,448"
178686,Nominated for 5 Oscars. Another 10 wins & 75 n...,USA,Anthony Minghella,"English, Italian",R,25-Dec-99,The Talented Mr. Ripley,1999,7.4,"151,938"

In [8]:
data_cleanded.to_csv ("movie_ratings_cleaned.csv")